
@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;700& display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(229, 240, 236);
}
.register-photo {
  
  padding: 80px 10px
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(Images.png);
  background-size:contain;
  background-repeat: no-repeat;
}


.register-photo .form-container {
  display: table;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;

}

.register-photo form {
  display: table-cell;
  width: 500px;
  
  padding: 20px 60px;
  color: #505e6c;


}



.register-photo form .already {
  
  text-decoration: none
}

nav{ 
    align-content: center;

}
.logo{float:left;
    margin-left: 200px;
}

ul li{
  display: inline-block; padding:15px;
color: black;
  margin-top: 20px;
 font-weight: 700;
  
}

ul li:hover{
  color:rgb(59, 13, 175);
  
  
}
  
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.input-contain {
  
  display: flex;

  width: 40%;
  margin-bottom: 15px;
 
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0px;
  background: white;
}
.input-fld {
  width: 100%;
  padding: 10px;
  outline: none;
  background: white;
}
.icon {
  padding: 10px;
  background: rgb(209, 209, 209);
  color: rgb(109, 106, 106);
  min-width: 50px;
  text-align: center;
}
.btn {
  background-color: rgb(114, 107, 204);
  float: right;
  margin-top: 20px;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width:50%;
  opacity: 0.9;
  border-radius: 10px;
}
.btn :hover{
  background-color: rgb(66, 58, 177);
}